<%- include('../partials/header.ejs') %>

<div id="page-profile">
    <div id="recipes-cover">
        <div class="container text-center">
            <div id="recipe-headers">
                <h1>Your Recipes, <%= user.name %></h1>
                <h4><i>The ultimate coffee recipe tracker</i></h4>
            </div>
            <button type="button" class="btn btn-dark" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Add a New Recipe</button>
            
            <div class="collapse" id="collapseExample">
            <form id="recipe-form" class="row g-3" method="POST" action="/recipes">

                <ul class="error-msgs"></ul>

                <div class="col-md-3">
                    <label for="brand" class="form-label">Brand*</label>
                    <input type="text" class="form-control" id="brand" name="brand">
                </div>

                <div class="col-md-3">
                  <label for="name" class="form-label">Name*</label>
                  <input type="text" class="form-control" id="name" name="name">
                </div>

                <div class="col-md-2">
                    <label for="type" class="form-label">Type*</label>
                    <select class="form-select" id="type" name="type">
                        <option selected>Bean Type</option>
                        <option value="Single Origin">Single Origin</option>
                        <option value="Blend">Blend</option>
                      </select>
                </div>

                <div class="col-md-2">
                    <label for="equipment" class="form-label">Equipment*</label>
                    <select class="form-select" id="equipment" name="equipment">
                        <option selected>Equipment Used...</option>
                        <option value="Aeropress">Aeropress</option>
                        <option value="V60">V60</option>
                        <option value="French Press">French Press</option>
                        <option value="Espresso">Espresso</option>
                      </select>
                </div>

                <div class="col-md-1">
                    <label for="clicks" class="form-label"># Clicks*</label>
                    <input type="number" class="form-control" id="clicks" name="clicks">
                </div>

                <div class="col-md-1">
                    <label for="time" class="form-label">Brew Time (Seconds)*</label>
                    <input type="number" class="form-control" id="time" name="time">
                </div>

                <div class="col-md-1">
                    <label for="rating" class="form-label">Rating*</label>
                    <input type="number" class="form-control" id="rating" name="rating">
                </div>

                <div class="success-msg"></div>
    
                <div class="mb-3 text-center">
                    <button type="submit" class="btn btn-dark">Create</button>
                </div>
            </form>
            </div>

                <div id="recipe-list" class="container">
                    <div class="row">
                        <% recipe.forEach(item => { %>
                            <div id="recipes" class="col shadow-sm p-3 mb-5 bg-body rounded">
                                <h3>Brand: <%= item.brand %></h3>
                                <h4>Name: <%= item.name %></h4>
                                <p>Bean Type: <%= item.type %></p>
                                <p>Equipment: <%= item.equipment %></p>
                                <p># Clicks: <%= item.clicks %></p>
                                <p>Brew Time: <%= item.time %></p>
                                <p>Rating: <%= item.rating %></p>
                                <a href="/recipes/<%=item.id%>/edit">
                                    <button type="button" class="btn btn-light">Edit</button>
                                </button></a>
                                <form action="/recipes/<%=item.id%>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-dark">Delete</button></form>
                            </div>
                        <% }) %> 
                    </div>
                </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>